


.master-container{
    max-width: 500px;
    min-height: 400px;
    padding:20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:20px;
    margin: 100px auto;
    position: relative;
}
.master-container h1{
    font-size:40px;
}
.top-container{
    display: flex;
    justify-content: space-between;
    gap:10px;
}
.top-container input{
    width: 84%;
    height: 40px;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 3px;
}
.top-container input::placeholder{
    font-size: 18px;
}
.top-container button{
    background-color: blueviolet;
    width:16%;
    border: none;
    color:white;
    font-size: 32px;
    border-radius: 3px;
    cursor:pointer;
    display: grid;
    place-items: center;
}
.top-container button:hover{
    background-color: rgb(164, 89, 235);

}
.items-container{
    display: flex;
    flex-direction: column;
    gap:10px;
    list-style: none;
    
    
}
.items-container .no-tasks{
    font-size: 30px;
    text-align: center;
    color: lightgray;
    
}
.items-container li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    font-size: 18px;
    background-color: rgba(219, 214, 214, 0.849);
}
li input[type='checkbox']{
   height: 40px;
   width: 40px;
   accent-color: green; 
}
.check-active{
    text-decoration:line-through ;
    color:gray;
}
.list-buttons{
    display: flex;
    gap:6px;
    height: 40px;
}

.list-buttons button{
    background-color: rgb(253, 47, 19);
    border: none;
    cursor: pointer;
    color:white;
    font-size: 30px;
    display: grid;
    place-items: center;
    width: 40px;
    
}

.list-buttons button:hover{
    background-color: rgb(247, 125, 108);
  
    
}
.list-buttons .edit-button{
    background-color: rgb(59, 147, 248);
}
.bottom-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom-container p{
    font-size: 20px;
}
.bottom-container button{
    font-size: 20px;
    border: none;
    background-color: blueviolet;
    color:white;
    padding:7px 10px;
    border-radius: 4px;
    cursor: pointer;
}
.bottom-container button:hover{
    background-color: rgb(164, 89, 235);
}

.modal-container{
    backdrop-filter: blur(4px);
    width: 400px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    gap:10px;
    position: absolute;
    left:665px;
    top:140px;
}
.modal-container input{
    height:45px;
    width:300px;
    border-radius: 4px;
    border: 1px solid rgb(190, 190, 190);

}
.modal-container button{
    background-color: blueviolet;
    font-size: 20px;
    color:white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

@media (max-width:600px){
    .master-container{
        max-width:90%;
        min-height:500px;
        padding:10px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap:20px;
        margin: 100px auto;
        position: relative;
    }
    .modal-container{
        position: absolute;
        left:0;
    }
    .bottom-container p{
        font-size: 15px;
    }
    .bottom-container button{
        font-size: 15px;
        border: none;
        background-color: blueviolet;
        color:white;
        padding:7px 10px;
        border-radius: 4px;
        cursor: pointer;
    }
}
